<div>
    <p>example of  1 + 2 = <strong>{{1 + 2}}</strong></p>

    <p ng-init = "stuffToDisplay= 'Hello, World!'">Writing an expression thanks to ng-init <strong>{{stuffToDisplay}}</strong></p>

    <div ng-controller = "Exo2Ctrl">
        Writing from controller, thanks to the scope <strong>{{displayingFromCtrl}}</strong>
        <div ng-controller = "ChildCtrl">
            <p>__{{displayingFromCtrl}}</p>
            <p>__{{childCtrlVariable}}</p>
	        <p>__nested button <button ng-click="nestedNgClick()">send event</button> </p>
        </div>
        <div>
            example of nested model
            <input ng-model="user.house.number"/>
            <button ng-click="displayHouseNumber()">clickme</button>
        </div>
    </div>

</div>